     <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AppCoderInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppCoderEntregable' %}">Entregable</a>
                <a class="navbar-brand" href="{% url 'AppCoderCurso' %}">Curso</a>
                {% if user.is_authenticated %}
                    <img height="100px" src="{{ user.avatar.imagen.url }}" alt="">
                    <h5>User: {{ user.get_username }}</h5>
                    <a class="btn btn-primary" href="{% url 'UserCoderLogout' %}">LogOut</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'UserCoderRegister' %}">Registro</a>
                    <a class="btn btn-primary" href="{% url 'UserCoderLogin' %}">Login</a>
                {% endif %}
            </div>
        </nav>