<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Familiares</title>
</head>
<body>
Estos son mis familiares:
<br>
{{ familia.nombre }}
<br>
Edad {{ familia.edad }}
<br>
Fecha de nacimiento {{ familia.fecha_de_nacimiento }}
<br>
{{ familia2.nombre }}
<br>
Edad {{ familia2.edad }}
<br>
Fecha de nacimiento {{ familia2.fecha_de_nacimiento }}
<br>
{{ familia3.nombre }}
<br>
Edad {{ familia3.edad }}
<br>
Fecha de nacimiento {{ familia3.fecha_de_nacimiento }}
</body>
</html